absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
ase
ase-db-backends
astunparse
async-timeout
attrs
certifi
cffi
charset-normalizer
chex
click
cloudpickle
clusterscope
contourpy
cryptography
cvxpy
cycler
deepchem
dgl
dm-haiku
e3nn
fairchem-core
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
gitdb
gitpython
google-pasta
greenlet
grpcio
h5py
hf-xet
huggingface-hub
hydra-core
idna
iterative-stratification
jax
jaxlib
jinja2
jmp
joblib
keras
kiwisolver
libclang
lightning
lightning-utilities
llvmlite
lmdb
markdown
markdown-it-py
markupsafe
matplotlib
mdurl
ml-dtypes
monty
mpmath
multidict
mypy-extensions
mystring
namex
narwhals
networkx
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
omegaconf
opt-einsum
opt-einsum-fx
optax
optree
orjson
packaging
pandas
pandasql
pillow
platformdirs
plotly
propcache
protobuf
psutil
psycopg2-binary
pycparser
pydantic
pydantic-core
pygments
pymysql
pyparsing
pyplotlib
pyre-extensions
python-dateutil
pytorch-lightning
pytz
pyyaml
rdkit
regex
requests
rich
ruamel-yaml
ruamel-yaml-clib
safetensors
scikit-learn
scipy
sentry-sdk
setuptools
six
smmap
sqlalchemy
submitit
sympy
tabulate
tensorboard
tensorboard-data-server
tensorflow
termcolor
thermo
threadpoolctl
tokenizers
toolz
torch
torch-geometric
torchdata
torchmetrics
torchtnt
tqdm
transformers
triton
typing-extensions
typing-inspect
typing-inspection
tzdata
urllib3
wandb
websockets
werkzeug
wrapt
yarl